*{
    margin:0;
    padding: 0;
}
.header{
    width: 100%;
    height: 100px;
    text-align: center;
    position: fixed;
    top: 0;
    background-color: aquamarine;
}
.header_logo{
    height: 50px;
    width: 130px;
    vertical-align: middle;
}
.header_list{
    list-style: none;
    display: inline-block;
}
.header_items{
    float: left;
    width: 130px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size:small;
}
.header_item_content{
    float: left;
    width:1920px;
    height: 400px;
    background-color: rgb(245, 246, 248);
    display: none;
    position: fixed;
    left: 0;
    overflow: hidden;
}
.header_items:hover .header_item_content{
    display: block;
}
.header_item_contents{
    height: 300px;
    width: 1000px;
    position: absolute;
    left: 230px;
    top:50px;
    text-align: center;
}
.header_item_contents_list{
    list-style: none;
    display: inline-block;
    border: red solid 1px;
}
.header_item_contents_list>li{
    height: 125px;
    width: 220px;
    margin: 10px 10px;
    float: left;
    border: green solid 1px;
}
.banner{
    height: 550px;
    width: 95%;
    margin: 0 auto;
    border: red solid 1px;
}