* {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}
.search{
    height: 300px;
    width: 800px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    position: relative;
}
.top{
    display: flex;
    height: 100px;
    justify-content: center;
    align-items:end;
}
.searchButton{
    color: white;
    background-color: rgb(70, 98, 217);
    height:33px ;
    line-height: 30px;
    width: 60px;
    font-size: 16px;
    border-radius: 10px;
    text-align: center;
}
#searchInput{
    height: 30px;
    width: 500px;
}
.bottom{
padding-left: 115px;
    height: 200px;
    position: relative;
    width: 510px;
}
.bottom>ul{
    backdrop-filter: blur(5px);
    border: 1px solid rgba(1, 1, 1, 0.06);
    border-radius: 10px;
}