* {
    margin: 0;
    padding: 0;
}
ul, ol {
    list-style: none;
}
.container{
    display: flex;
    height:600px;
    width: 1500px;
    justify-content: space-around;
    margin: 50px auto;
}
.img{
    height: 100%;
    width: 100px;
    border-radius: 50px;
    transition: width 1s ease-in-out;
    background: no-repeat url("../imgs/山田妖精.jpg") center ;
}
.expanded{
    width: 1000px;
}